html {
  min-width: 1200px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display:flex;
  justify-content: center;
  padding-top: 250px;
  /* align-items: center; */
  z-index: 100;
  background: rgba(255,255,255,.8);
}

.fn-hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Microsoft Yahei";
  color: #666;
  font-size: 12px;
  height: 100%;
  background: #eee;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.m-nav {
  display: flex;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.m-logo {
  padding: 10px 10px 5px 10px;
}
.m-logo img {
  width: 50px;
}
.m-logo label {
  margin: 0 0 0 20px;
  font-size: 32px;
  font-weight: bold;
  color: #999;
}
.m-logo span {
  font-size: 16px;
  color: #333;
}
.m-menu {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 7px;
}
.m-menu a {
  padding: 0 3px;
  margin: 0 15px 0 0;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: #666;
}
.m-menu a:hover {
  color: #333;
}
.m-menu a:active {
  color: #666;
}
.g-home .m-cnt {
  display: flex;
  flex-direction: row;
}
.g-home .m-cur {
  flex: 1 1;
  background: #fff;
  padding: 10px 10px 10px 30px;
  font-size: 16px;
  margin: 5px;
  border: 1px solid #ddd;
}
.g-home .m-mooc {
  background: #fff;
  padding: 0 20px;
}
.g-home .m-mooc-item {
  position: relative;
  margin: 10px 15px;
  border: 1px solid #ccc;
  transition: 0.5s;
}
.g-home .m-mooc-item:hover {
  box-shadow: 2px 2px 5px #bbb;
}
.g-home .m-mooc-item img {
  width: 200px;
  height: 120px;
  padding: 5px;
}
.g-home .m-mooc-item span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(255, 255, 255, 0.95);
  right: 0;
  padding: 5px;
  color: #333;
  font-size: 14px;
  border-top: 1px solid #eee;
}
.g-home .m-proj {
  width: 200px;
  padding: 10px 40px 10px 25px;
  background: #333;
  color: #eee;
}
.g-home .m-proj-item {
  margin-left: 20px;
  padding-bottom: 20px;
}
.g-home .m-proj-item span {
  display: block;
  position: relative;
}
.g-home .m-proj-item span:before {
  display: block;
  content: '';
  height: 50px;
  position: absolute;
  left: -15px;
  border-left: 1px solid #fff;
}
.g-home .m-proj-item span:first-child {
  font-size: 16px;
  color: #ff3300;
}
.g-home .m-proj-item .m-date:after {
  display: block;
  content: '';
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-radius: 5px;
  position: absolute;
  left: -19px;
  top: 5px;
}
.g-home .m-proj-item span:nth-child(2n) {
  margin: 5px 0;
  padding: 5px;
  background: #eee;
  color: #666;
  transition: 0.5s;
  cursor: pointer;
}
.g-home .m-proj-item span:nth-child(2n):hover {
  background: #fff;
  box-shadow: 2px 2px 5px #ccc;
}
.g-home .m-st {
  width: 200px;
  background: #333;
  padding: 10px 0;
}
.g-home .m-st-item img {
  width: 80px;
}
.g-home .m-st-item span {
  display: block;
  padding: 10px;
  background: #eee;
  width: 40px;
}
.g-home .m-st-item {
  display: flex;
  height: 80px;
  margin: 10px;
  justify-content: center;
}
.g-home .m-desc span:before {
  content: '';
  display: block;
  height: 26px;
  position: absolute;
  width: 25px;
  background: #ff6600;
  top: 0;
  left: -25px;
}
.g-home .m-desc span {
  display: block;
  padding: 5px 10px;
  margin: 5px;
  background: #666;
  color: #fff;
  font-size: 12px;
  position: relative;
}
.g-home .m-desc {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.g-home .m-cur img {
  background: #fff;
  padding: 5px;
}
.m-footer {
  height: 200px;
  background: #666;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
}
.m-ft span {
  display: block;
  padding: 5px;
}
.m-ft:last-child {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.m-ft img {
  width: 120px;
  margin: 10px 10px 0 10px;
}
.g-proj {
  display: flex;
  flex-direction: column;
  background: #eee;
  padding: 5px;
}
.g-proj .m-proj-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 10px 0 10px;
  background: #fff;
  padding: 10px;
}
.g-proj .m-proj-y {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  background: #666;
  color: #fff;
  font-size: 32px;
}
.g-proj .m-proj-item {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  height: 100px;
  width: 150px;
  background: #eee;
  color: #666;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.7s;
}
.g-proj .m-proj-item:hover > .u-date {
  background: #ff6600;
  color: #fff;
}
.g-proj .m-proj-item:hover {
  box-shadow: 2px 2px 5px #999;
}
.g-proj .m-proj-item span {
  padding: 5px 10px;
  display: block;
}
.g-proj .m-proj-item .u-date {
  background: #333;
  color: #fff;
  transition: 0.7s;
}
.g-proj .m-info {
  height: 100px;
  width: 100%;
  color: #fff;
  background: #ff6600;
  padding: 10px 20px;
}
.g-proj .m-proj-item:hover + .m-info {
  display: none;
}
.g-about {
  background: #333;
  height: calc(100vh - 73px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}
.g-about img {
  background: #fff;
  padding: 2px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.g-about .u-line {
  width: 80%;
  height: 1px;
  background: #999;
  margin: 20px;
}
.g-about .m-me {
  display: flex;
  align-items: center;
}
.g-about .m-desc {
  margin-left: 20px;
  background: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  position: relative;
}
.g-about .m-desc:before {
  position: absolute;
  content: ' ';
  width: 0;
  height: 0;
  top: calc(50% - 10px);
  left: -20px;
  border: 10px solid transparent;
  border-right: 10px solid #fff;
}
.g-about .m-desc span {
  display: block;
  padding: 3px 0 0 0;
}
.g-about .m-desc span i {
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  width: 60px;
  padding: 3px 0 0 0;
  color: #888;
}
.g-about .m-map {
  border: 1px solid #aaa;
}



/* student module */
.g-st {
  display: flex;
  flex-direction: row;
  min-height: calc( 100vh - 73px );
}

.g-st .m-bar {
  width: 200px;
  background: #666;
  color: #eee;
  display: flex;
  flex-direction: column;
}



.g-st .m-list {
  width: 200px;
  background: #eee;
  padding: 10px;
}


.g-st .m-main {
  flex: 1;
  background: #fff;
  padding: 15px 20px;
  border-left: 1px solid #ddd;
  overflow: hidden;
}


.g-st .m-st-list {
  display: flex;
  flex-direction: column;
  background: #333;
}

.g-st .m-st-item {
  background: #ddd;
  margin: 5px 5px 0 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .5s;
  cursor: pointer;
}

.g-st .m-st-item:hover {
  box-shadow: 1px 1px 2px #fff,-1px -1px 2px #fff;
}

.g-st .m-st-item:hover > span {
  display: block;
}

.g-st .m-st-item img {
  width: 50px;
  height: 50px;
}

.g-st .m-st-item span {
  position: absolute;
  left: -60px;
  right: 60px;
  display: none;
  background: #666;
  color: #fff;
  font-size: 12px;
  padding: 4px 5px;
  text-align: center;
  transition: .5s;
  bottom: 14px;
}

.g-st .m-st-item span:before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  right: -10px;
  top: 5px;
  border-left: 5px solid #666;
}

.m-tech {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  margin: 2px;
}

.m-node { background: #026E00; }
.m-react { background: #038aa5; }
.m-mysql { background: #033f6b; }
.m-tensorflow { background: #EF6C00; }
.m-python { background: #f2c309; }
.m-mongodb { background: #0dad5a; }

.g-st .m-bar .m-st-logo img {
  background: #000;
  min-width: 100px;
  width: 100px;
  height: 100px;
  min-height: 100px;
}


.g-st .m-st-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #333;
}

.g-st .m-st-tech {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.g-st .m-func {
  flex: 1 1;
  background: #aaa;
  padding: 5px;
}

.g-st button {
  width: 100%;
  padding: 5px;
  border-radius: 0!important;
  border: 1px solid rgba(0,0,0,.1); 
  background: #58a linear-gradient(hsla(0,0%,100%,.2), transparent); 
  background: #666;
  color: #fff;
  border-radius: .2em; 
  box-shadow: 0 .05em .25em rgba(0,0,0,.5); 
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5); 
  outline: 0;
  cursor: pointer;
  transition: .3s;
  margin: 2px 0;
  position: relative;
}

.g-st button:hover {
  background: #c00;
}


.g-st .m-notelist>a{
  display: block;
  text-decoration: none;
  padding: 5px 0 0 5px;
  font-size: 12px;
  color: #000;;
}

.g-st .m-notelist>a:hover {
  color: #ff6600;
}


.m-func input[type="file"] {
  width: 100%;
  position: absolute;
  height: 27px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.g-st .m-noteitem {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  background: #fff;
  padding: 5px 10px;
  transition: .5s;
}


.g-st .m-noteitem span {
  color: #c00;
}

.g-st .m-noteitem a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.g-st .m-edit-body textarea {
  width: calc( 100% - 20px );
  height: calc( 100% - 20px );
  outline: none;
  padding: 10px;
  border: 1px solid #ddd;
}

.g-st .m-edit-body {
  height: 100%;
}

.g-st .fn-active {
  border-right: 5px solid #ff6600;
}

.g-mooc {
  padding: 0 0 10px 0;
  background: #aaa;
  position: relative;
}

.g-mooc .m-mooc-menu {
  height: 30px;
  background: #aaa;
  color: #fff;
  display: flex;
  flex-direction: row;
}

.g-mooc .m-mooc-item {
  margin: 5px 1px 0 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  position: relative;
  transition: .5s;
  cursor: pointer;
}

/* .g-mooc .m-mooc-item:hover {
  background: #ff6600;
  
} */

.g-mooc .m-mooc-item:first-child {
  margin-left: 10px;
}
.g-mooc .m-mooc-item:last-child {
  margin-right: 10px;
}

.g-mooc .m-mooc-item:before {
  content: ' ';
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  border: 8px solid #aaa;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}

.g-mooc .m-mooc-cnt {
  min-height: calc( 100vh - 118px );
  border-top: 5px solid #aaa;
  background: #aaa;
  display: flex;
  flex-direction: row;
}

.g-mooc .m-mooc-bar {
  margin-left: 10px;
  width: 200px;
  background: #666;
  padding: 1px;
}

.g-mooc .m-mooc-chap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.g-mooc .m-bar-item {
  padding: 5px;
  background: #fff;
  border-bottom: 1px dashed #ccc;
}

.g-mooc .m-mooc-chap label{
  background: #666!important;
  color: #fff;
  position: relative;
}

.g-mooc .m-mooc-chap span{
  padding-left: 20px; 
  cursor: pointer;
  transition: .2s;
}

.g-mooc .m-mooc-chap span:hover{
  background: #eee;
  border-right: 5px solid #ff6600;
}
.g-mooc .m-bar-item:first-child, .g-mooc .m-bar-item:last-child {
  border: none;
}

.g-mooc .m-mooc-main {
  margin: 0 5px 0 5px;
  border: 1px solid #ccc;
  flex: 1;
  padding: 5px 10px;
  background: #fff;
  overflow: hidden;
}

.g-mooc .m-mooc-chap label i {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: #eee;
  color: #333;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.g-mooc .fn-active {
  background: #ff6600;
}