@media screen and (max-width: 999px) { 

html {
  min-height: 100vh;
}

.App {
  min-height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #ff6600;
}
a:visited,a:active {
  color: #ff6600;
}


.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display:flex;
  justify-content: center;
  padding-top: 250px;
  /* align-items: center; */
  z-index: 100;
  background: rgba(255,255,255,.8);
}

.fn-hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Microsoft Yahei";
  color: #666;
  font-size: 12px;
  height: 100%;
  background: #eee;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.m-nav {
  width: 100%;
  top: 0;
  z-index: 2;
  background: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
}
.m-logo {
  padding: 10px 10px 5px 10px;
}
.m-logo img {
  width: 50px;
}
.m-logo label {
  margin: 0 0 0 20px;
  font-size: 32px;
  font-weight: bold;
  color: #999;
}
.m-logo span {
  font-size: 16px;
  color: #333;
}
.m-menu {
  display: none;
}
.m-menu a {
  padding: 0 3px;
  margin: 0 15px 0 0;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: #666;
}
.m-menu a:hover {
  color: #333;
}
.m-menu a:active {
  color: #666;
}


.m-menu-t {
  position: absolute;
  right: 0px;
  padding: 9px 10px;
  margin: 12px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  background: #eee;
  height: 50px;
  outline: none;
}
.m-menu-t span {
  display: block;
  width: 32px;
  height: 2px;
  border-radius: 1px;
  background: #888;
  }

.m-menu-t span+span {
  margin-top: 4px;
}

.m-nav-wrap {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.m-menu-sel ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.m-menu-sel ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

.m-menu-sel ul li a {
  font-size: 18px;
}

.m-menu-sel {
  display: none;
  /* transition: .5s; */
}

.m-menu-sel.collapse {
  display: none !important;
}

.g-home {
  margin-top: 75px;
  margin-bottom: 60px;
}

.g-home .m-cnt {
  display: flex;
  flex-direction: row;
}
.g-home .m-cur {
  flex: 1 1;
  background: #fff;
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  border: 1px solid #ddd;
}
.g-home .m-mooc {
  display: none;
}
.g-home .m-proj {
  display: none;
}


.g-home .m-st {
  position: fixed;
  bottom: 0;
  padding: 5px;
  background: #666;
  overflow: hidden;
  width: 100%;
  height: 70px;
}

.g-home .m-st-wrap {
  display: flex;
  position: absolute;
  left: 5px;
  transition: .5s;
}

.g-home .m-st-item {
  height: 60px;
}

.g-home .m-st-item img {
  width: 60px;
  height: 60px;
  margin: 0 5px 0 0;
}

.g-home .m-st-item span {
  display: none;
}

.g-home .m-notelist>a{
  display: block;
  text-decoration: none;
  padding: 5px 0 0 5px;
  font-size: 12px;
  color: #000;;
}

.g-home .m-notelist>a:hover {
  color: #ff6600;
}


.g-home .m-noteitem {
    display: flex;
    margin: 0 0 5px 0;
    background: #eee;
    padding: 5px 10px;
    -webkit-transition: .5s;
    align-items: center;
    height: calc( ( 100vh - 83px - 60px - 50px - 64px )/10 );
}


.g-home .m-noteitem span {
  font-size: 12px;
  color: #c00;
  order: 2;
}

.g-home .m-noteitem a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  flex: 1;
  order: 1;
}



.m-footer {
  background: #666;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  margin-bottom: 50px;
}

.m-footer img:last-child {
  margin-right: 0;
}
.m-footer img {
  width: calc( (100% - 15px)/4 );
  margin: 0 5px 5px 0;
}
.m-ft span {
  display: block;
  padding: 5px;
}
.m-ft:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* project style */
.g-proj {
  display: flex;
  flex-direction: column;
  background: #eee;
  margin-top: 75px;
}
.g-proj .m-proj-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 0 0 0;
  background: #fff;
  padding: 10px;
}
.g-proj .m-proj-y {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background: #666;
  color: #fff;
  font-size: 18px;
}
.g-proj .m-proj-item {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0 0;
  width: calc( (100% - 10px )/2);
  background: #eee;
  color: #666;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  transition: 0.7s;
}
.g-proj .m-proj-item:nth-child(2n+1) {
  margin-right: 0!important;
}
.g-proj .m-proj-item:hover > .u-date {
  background: #ff6600;
  color: #fff;
}
.g-proj .m-proj-item:hover {
  box-shadow: 2px 2px 5px #999;
}
.g-proj .m-proj-item span {
  padding: 5px 10px;
  display: block;
}
.g-proj .m-proj-item .u-date {
  background: #333;
  color: #fff;
  transition: 0.7s;
}
.g-proj .m-info {
  height: 100px;
  width: 100%;
  color: #fff;
  background: #ff6600;
  padding: 10px 20px;
}
.g-proj .m-proj-item:hover + .m-info {
  display: none;
}

.g-proj .m-proj-detail {
  position: fixed;
  background: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: black;
  z-index: 10;
}

.g-proj .m-proj-detail .m-proj-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
  font-size: 12px;
  background: #fff;
}

.g-proj .m-close {
  position: absolute;
  height: 30px;
  width: 60px;
  background: #666;
  top: 5px;
  right: 5px;
}

.m-close:before {
  content: 'Close';
  position: absolute;
  display: block;
  left: 12px;
  font-size: 16px;
  color: #fff;
  top: 5px;
}


.g-proj .m-detail-info {
  background: #eee;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.g-proj .m-detail-info .m-title {
  font-size: 16px;
  color: #000;
  order: 2;
}

.g-proj .m-detail-info .m-type {
  margin-right: 5px;
  display: block;
  background: #aaa;
  color: #fff;
  padding: 3px 8px;
  order: 1;
}

.g-proj .m-detail-sub {
  padding: 10px 15px;
  border-bottom: 1px dashed #eee;
}

.g-proj .m-detail-sub:after {
  content: '';
  display: block;
  clear: both;
}

.g-proj .m-date {
  float: right;
  color: #999;
}

.g-proj .m-tech i {
  display: inline-block;
  background: #ff6600;
  margin-right: 5px;
  color: #fff;
  padding: 2px 5px;
}

.g-proj .m-detail-link {
  padding: 10px 15px 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #eee;
  font-size: 14px;
}

.g-proj .m-detail-link label{
  margin: 0 0 0 10px;
}

.g-proj .m-detail-cnt {
  padding: 10px 15px 10px 15px;
}

.g-proj li,.g-proj p {
  font-size: 13px;
}

.g-about {
  background: #333;
  height: calc(100vh - 73px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  margin-top: 73px;
}
.g-about img {
  background: #fff;
  padding: 2px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.g-about .u-line {
  width: 80%;
  height: 1px;
  background: #999;
  margin: 20px;
}
.g-about .m-me {
  display: flex;
  align-items: center;
}
.g-about .m-desc {
  margin-left: 20px;
  background: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  position: relative;
}
.g-about .m-desc:before {
  position: absolute;
  content: ' ';
  width: 0;
  height: 0;
  top: calc(50% - 10px);
  left: -20px;
  border: 10px solid transparent;
  border-right: 10px solid #fff;
}
.g-about .m-desc span {
  display: block;
  padding: 3px 0 0 0;
}
.g-about .m-desc span i {
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  width: 60px;
  padding: 3px 0 0 0;
  color: #888;
}
.g-about .m-map {
  border: 1px solid #aaa;
  width: 90%;
  height: 300px;
}



/* student module */
.g-st {
  display: flex;
  flex-direction: row;
  min-height: calc( 100vh - 73px );
}

.g-st .m-bar {
  width: 200px;
  background: #666;
  color: #eee;
  display: flex;
  flex-direction: column;
}



.g-st .m-list {
  width: 200px;
  background: #eee;
  padding: 10px;
}


.g-st .m-main {
  flex: 1;
  background: #fff;
  padding: 15px 20px;
  border-left: 1px solid #ddd;
  overflow: hidden;
}


.g-st .m-st-list {
  display: flex;
  flex-direction: column;
  background: #333;
}

.g-st .m-st-item {
  background: #ddd;
  margin: 5px 5px 0 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .5s;
  cursor: pointer;
}

.g-st .m-st-item:hover {
  box-shadow: 1px 1px 2px #fff,-1px -1px 2px #fff;
}

.g-st .m-st-item:hover > span {
  display: block;
}

.g-st .m-st-item img {
  width: 50px;
  height: 50px;
  background: #fff;
}

.g-st .m-st-item span {
  position: absolute;
  left: -60px;
  right: 60px;
  display: none;
  background: #666;
  color: #fff;
  font-size: 12px;
  padding: 4px 5px;
  text-align: center;
  transition: .5s;
  bottom: 14px;
}

.g-st .m-st-item span:before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  right: -10px;
  top: 5px;
  border-left: 5px solid #666;
}

.g-st .m-tech {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  margin: 2px;
}

.m-node { background: #026E00; }
.m-react { background: #038aa5; }
.m-mysql { background: #033f6b; }
.m-tensorflow { background: #EF6C00; }
.m-python { background: #f2c309; }
.m-mongodb { background: #0dad5a; }

.g-st .m-bar .m-st-logo img {
  background: #fff;
  min-width: 100px;
  width: 100px;
  height: 100px;
  min-height: 100px;
}


.g-st .m-st-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #333;
}

.g-st .m-st-tech {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.g-st .m-func {
  flex: 1 1;
  background: #aaa;
  padding: 5px;
}

.g-st button {
  width: 100%;
  padding: 5px;
  border-radius: 0!important;
  border: 1px solid rgba(0,0,0,.1); 
  background: #58a linear-gradient(hsla(0,0%,100%,.2), transparent); 
  background: #666;
  color: #fff;
  border-radius: .2em; 
  box-shadow: 0 .05em .25em rgba(0,0,0,.5); 
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5); 
  outline: 0;
  cursor: pointer;
  transition: .3s;
  margin: 2px 0;
  position: relative;
}

.g-st button:hover {
  background: #c00;
}


.g-st .m-notelist>a{
  display: block;
  text-decoration: none;
  padding: 5px 0 0 5px;
  font-size: 12px;
  color: #000;;
}

.g-st .m-notelist>a:hover {
  color: #ff6600;
}


.m-func input[type="file"] {
  width: 100%;
  position: absolute;
  height: 27px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.g-st .m-noteitem {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  background: #fff;
  padding: 5px 10px;
  transition: .5s;
}


.g-st .m-noteitem span {
  color: #c00;
}

.g-st .m-noteitem a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.g-st .m-edit-body textarea {
  width: calc( 100% - 20px );
  height: calc( 100% - 20px );
  outline: none;
  padding: 10px;
  border: 1px solid #ddd;
}

.g-st .m-edit-body {
  height: 100%;
}

.g-st .fn-active {
  border-right: 5px solid #ff6600;
}

.g-mooc {
  padding: 0;
  background: #fff;
  position: relative;
  margin: 75px 0 40px 0;
  display: flex;
  height: calc(100vh - 115px);
}

.g-mooc .m-mooc-menu {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 40px;
  background: #aaa;
  color: #fff;
  display: flex;
  flex-direction: row;
  bottom: 0;
}

.g-mooc .m-mooc-item {
  margin: 0 1px 0 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
}


.g-mooc .m-mooc-cnt {
  height: 100%;
  width: 100%;
}

.m-mooc-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background: #fff;
  padding-bottom: 40px;
}


.g-mooc .m-mooc-chap {
  width: calc( (100% - 5px)/2 );
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  margin: 5px 5px 0 0;
}

.m-mooc-chap:nth-child(2n) {
  margin-right: 0!important;
}

.g-mooc .m-bar-item {
  padding: 5px;
  background: #fff;
  border-bottom: 1px dashed #ccc;
}

.g-mooc .m-mooc-chap label{
  background: #666!important;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.g-mooc .m-mooc-chap span {
  padding-left: 20px;
  background: #eee;
  position: relative;
}

.g-mooc .m-bar-item:first-child, .g-mooc .m-bar-item:last-child {
  border: none;
}

.g-mooc .m-mooc-main {
  padding: 5px 10px;
  background: #fff;
  display: none;
}

.g-mooc .m-mooc-close {
  position: fixed;
  height: 30px;
  background: rgba(60,60,60,0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  right: 5px;
  font-size: 14px;
  z-index: 999;
}

.g-mooc .markdown-body {
  overflow: hidden;
  padding-bottom: 40px;
}

.g-mooc .m-mooc-chap label i {
  display: none;
}

.g-mooc .m-mooc-chap span em {
  display: none;
}

.g-mooc .m-mooc-chap label em:before {
  content: 'pt';
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 15px;

}

.g-mooc .fn-active {
  background: #ff6600;
}


.g-art {
  padding: 10px 15px;
  background: #fff;
}

.m-count {
  position: relative;
}

.m-count span {
  display: block;
  position: absolute;
  left: 0px;
  top: 20px;
  padding: 5px 10px;
  color: #eee;
  border-radius: 5px;
  font-style: normal;
  font-family: "Georgia";
  font-size: 12px;
}

.g-footer {
  display: none;
}

}